<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @bug.title %>
</p>

<p>
  <b>Content:</b>
  <%= @bug.content %>
</p>


<%= link_to 'Edit', edit_bug_path(@bug) %> |
<%= link_to 'Back', bugs_path %>
