<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>Coinvest | Accueil</title>
	
    <%= render :partial => 'shared/meta' %>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <%= javascript_tag "window._token = '#{form_authenticity_token}'" %>

  </head>

  <body>
    <%= render :partial => 'shared/notify' %>
    <%= render :partial => 'shared/header' %>
    <%= render :partial => 'shared/menu' %>
    
    <%= yield %>
    
    <%= render :partial => 'shared/footer' %>
    
  </body>
</html>
